/* Used in new-entry & view-entry */
/* Used in dashboard */
/* Used in new-entry */
/* Used in login & register */
/* Used main-content */
/* Layout variables */
/* Button variables */
/* Border variables */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444444;
  text-decoration: none;
}

/* Used in new-entry & view-entry */
/* Used in dashboard */
/* Used in new-entry */
/* Used in login & register */
/* Used main-content */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444444;
  text-decoration: none;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #f5f5f5;
  height: 3.2rem;
  padding: 0 2rem;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile {
  position: relative;
}
.profile .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #e0e0e0;
}
.profile .icon-wrapper:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}
.profile .icon-wrapper:active {
  background-color: #c0c0c0;
  color: #111;
}
.profile .icon-wrapper i {
  font-size: 18px;
}
.profile .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #f4f4f4;
  top: 50px;
  right: 0;
  width: 130px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile .dropdown-menu i {
  margin-right: 5px;
}
.profile .dropdown-menu .dropdown-item {
  display: block;
  padding: 10px 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profile .dropdown-menu .dropdown-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
  color: #333;
}
.profile .dropdown-menu .dropdown-item:active {
  background-color: #d0d0d0;
  color: #111;
}
.profile .show {
  display: block;
}

/* Remove placeholder text for date inputs */
input[type=date]::-webkit-datetime-edit-text,
input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-year-field {
  color: transparent;
}

/* Show text color when date is selected */
input[type=date]:valid::-webkit-datetime-edit-text,
input[type=date]:valid::-webkit-datetime-edit-month-field,
input[type=date]:valid::-webkit-datetime-edit-day-field,
input[type=date]:valid::-webkit-datetime-edit-year-field {
  color: #333;
}

/* Remove placeholder text for datetime inputs */
input[type=datetime-local]::-webkit-datetime-edit-text,
input[type=datetime-local]::-webkit-datetime-edit-month-field,
input[type=datetime-local]::-webkit-datetime-edit-day-field,
input[type=datetime-local]::-webkit-datetime-edit-year-field,
input[type=datetime-local]::-webkit-datetime-edit-hour-field,
input[type=datetime-local]::-webkit-datetime-edit-minute-field,
input[type=datetime-local]::-webkit-datetime-edit-second-field {
  color: transparent;
}

/* Show text color when datetime is selected */
input[type=datetime-local]:valid::-webkit-datetime-edit-text,
input[type=datetime-local]:valid::-webkit-datetime-edit-month-field,
input[type=datetime-local]:valid::-webkit-datetime-edit-day-field,
input[type=datetime-local]:valid::-webkit-datetime-edit-year-field,
input[type=datetime-local]:valid::-webkit-datetime-edit-hour-field,
input[type=datetime-local]:valid::-webkit-datetime-edit-minute-field,
input[type=datetime-local]:valid::-webkit-datetime-edit-second-field {
  color: #333;
}

.base-fieldset, main .main-content #case-detail-form, main .main-content #complainant-form, main .main-content #suspect-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 1rem;
  border: 1px solid #d9d9d9;
  padding: 1rem;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.base-fieldset .hr-with-title, main .main-content #case-detail-form .hr-with-title, main .main-content #complainant-form .hr-with-title, main .main-content #suspect-form .hr-with-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.base-fieldset .hr-with-title .title, main .main-content #case-detail-form .hr-with-title .title, main .main-content #complainant-form .hr-with-title .title, main .main-content #suspect-form .hr-with-title .title {
  margin: 0 5px 0;
  font-style: italic;
}
.base-fieldset .hr-with-title hr, main .main-content #case-detail-form .hr-with-title hr, main .main-content #complainant-form .hr-with-title hr, main .main-content #suspect-form .hr-with-title hr {
  color: #d9d9d9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  border-top: 1px solid #d9d9d9;
}

.base-row, main .main-content #case-detail-form .row-1,
main .main-content #case-detail-form .row-2,
main .main-content #case-detail-form .row-3, main .main-content #complainant-form .row-1 .col-5, main .main-content #suspect-form .row-1 .col-5, main .main-content #complainant-form .row-1, main .main-content #suspect-form .row-1,
main .main-content #complainant-form .row-2,
main .main-content #suspect-form .row-2,
main .main-content #complainant-form .row-3,
main .main-content #suspect-form .row-3,
main .main-content #complainant-form .row-4,
main .main-content #suspect-form .row-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.base-row .col, main .main-content #case-detail-form .row-1 .col,
main .main-content #case-detail-form .row-2 .col,
main .main-content #case-detail-form .row-3 .col, main .main-content #complainant-form .row-1 .col, main .main-content #suspect-form .row-1 .col,
main .main-content #complainant-form .row-2 .col,
main .main-content #suspect-form .row-2 .col,
main .main-content #complainant-form .row-3 .col,
main .main-content #suspect-form .row-3 .col,
main .main-content #complainant-form .row-4 .col,
main .main-content #suspect-form .row-4 .col,
.base-row .input-wrapper,
main .main-content #case-detail-form .row-1 .input-wrapper,
main .main-content #case-detail-form .row-2 .input-wrapper,
main .main-content #case-detail-form .row-3 .input-wrapper,
main .main-content #complainant-form .row-1 .input-wrapper,
main .main-content #suspect-form .row-1 .input-wrapper,
main .main-content #complainant-form .row-2 .input-wrapper,
main .main-content #suspect-form .row-2 .input-wrapper,
main .main-content #complainant-form .row-3 .input-wrapper,
main .main-content #suspect-form .row-3 .input-wrapper,
main .main-content #complainant-form .row-4 .input-wrapper,
main .main-content #suspect-form .row-4 .input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.base-row label, main .main-content #case-detail-form .row-1 label,
main .main-content #case-detail-form .row-2 label,
main .main-content #case-detail-form .row-3 label, main .main-content #complainant-form .row-1 .col-5 label, main .main-content #suspect-form .row-1 .col-5 label, main .main-content #complainant-form .row-1 label, main .main-content #suspect-form .row-1 label,
main .main-content #complainant-form .row-2 label,
main .main-content #suspect-form .row-2 label,
main .main-content #complainant-form .row-3 label,
main .main-content #suspect-form .row-3 label,
main .main-content #complainant-form .row-4 label,
main .main-content #suspect-form .row-4 label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 3px;
}
.base-row input, main .main-content #case-detail-form .row-1 input,
main .main-content #case-detail-form .row-2 input,
main .main-content #case-detail-form .row-3 input, main .main-content #complainant-form .row-1 .col-5 input, main .main-content #suspect-form .row-1 .col-5 input, main .main-content #complainant-form .row-1 input, main .main-content #suspect-form .row-1 input,
main .main-content #complainant-form .row-2 input,
main .main-content #suspect-form .row-2 input,
main .main-content #complainant-form .row-3 input,
main .main-content #suspect-form .row-3 input,
main .main-content #complainant-form .row-4 input,
main .main-content #suspect-form .row-4 input,
.base-row select,
main .main-content #case-detail-form .row-1 select,
main .main-content #case-detail-form .row-2 select,
main .main-content #case-detail-form .row-3 select,
main .main-content #complainant-form .row-1 .col-5 select,
main .main-content #suspect-form .row-1 .col-5 select,
main .main-content #complainant-form .row-1 select,
main .main-content #suspect-form .row-1 select,
main .main-content #complainant-form .row-2 select,
main .main-content #suspect-form .row-2 select,
main .main-content #complainant-form .row-3 select,
main .main-content #suspect-form .row-3 select,
main .main-content #complainant-form .row-4 select,
main .main-content #suspect-form .row-4 select {
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
  width: 100%;
}
.base-row input:focus, main .main-content #case-detail-form .row-1 input:focus,
main .main-content #case-detail-form .row-2 input:focus,
main .main-content #case-detail-form .row-3 input:focus, main .main-content #complainant-form .row-1 input:focus, main .main-content #suspect-form .row-1 input:focus,
main .main-content #complainant-form .row-2 input:focus,
main .main-content #suspect-form .row-2 input:focus,
main .main-content #complainant-form .row-3 input:focus,
main .main-content #suspect-form .row-3 input:focus,
main .main-content #complainant-form .row-4 input:focus,
main .main-content #suspect-form .row-4 input:focus,
.base-row select:focus,
main .main-content #case-detail-form .row-1 select:focus,
main .main-content #case-detail-form .row-2 select:focus,
main .main-content #case-detail-form .row-3 select:focus,
main .main-content #complainant-form .row-1 select:focus,
main .main-content #suspect-form .row-1 select:focus,
main .main-content #complainant-form .row-2 select:focus,
main .main-content #suspect-form .row-2 select:focus,
main .main-content #complainant-form .row-3 select:focus,
main .main-content #suspect-form .row-3 select:focus,
main .main-content #complainant-form .row-4 select:focus,
main .main-content #suspect-form .row-4 select:focus {
  border-color: #007BFF;
  -webkit-box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

main {
  padding-top: 3.2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
main .side-nav {
  position: fixed;
  min-height: 100%;
  background-color: #f5f5f5;
  width: 15rem;
  min-width: 15rem;
  overflow: hidden;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
main .side-nav .toggle-wrapper {
  text-align: end;
  padding-right: 1rem;
}
main .side-nav .toggle-wrapper .toggle-btn {
  padding: 0.9rem;
  border-radius: 8px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main .side-nav .toggle-wrapper .toggle-btn:hover {
  background-color: #dcdcdc;
  color: black;
}
main .side-nav .toggle-wrapper .toggle-btn:active {
  background-color: #bfbfbf;
}
main .side-nav .menu-link {
  text-decoration: none;
  padding: 0.8rem;
  display: block;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .side-nav .menu-link i {
  margin-right: 1rem;
}
main .side-nav .menu-link:hover {
  background-color: #dcdcdc;
  color: black;
}
main .side-nav .menu-link:active {
  background-color: #bfbfbf;
}
main .side-nav .isActive {
  background-color: white;
}
main .side-nav .isActive:hover {
  background-color: white;
}
main .main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
  margin-left: 15rem;
  -webkit-transition: margin-left 0.25s ease-in-out;
  transition: margin-left 0.25s ease-in-out;
}
main .main-content .tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 920px;
}
main .main-content .tab-container .tab {
  width: 10rem;
  padding: 0.8rem 0 0.8rem;
  text-align: center;
  border-radius: 0.8rem 0.8rem 0 0;
  border: 1px solid #d9d9d9;
  border-bottom: none;
}
main .main-content .tab-container .alert-warning {
  display: none;
  margin-left: 1rem;
  background-color: #fff3cd;
  padding: 0.6rem 1rem 0.6rem;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  color: #856404;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main .main-content .tab-container .alert-warning i {
  color: inherit;
}
main .main-content .tab-container .alert-success {
  display: none;
  margin-left: 1rem;
  background-color: #cfe2ff;
  padding: 0.6rem 1rem 0.6rem;
  border: 1px solid #9ec5fe;
  border-radius: 5px;
  color: #052c65;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main .main-content .tab-container .alert-success i {
  color: inherit;
}
main .main-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 1rem;
  min-width: 800px;
  height: 92%;
}
main .main-content #complainant-form .row-3, main .main-content #suspect-form .row-3 {
  width: 80%;
}
main .main-content #complainant-form .row-4, main .main-content #suspect-form .row-4 {
  width: 60%;
}
main .main-content #case-detail-form .row-1,
main .main-content #case-detail-form .row-2 {
  width: 40%;
}
main .main-content #case-detail-form .row-3 #narrative {
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 200px;
  width: 500px;
  resize: horizontal;
  outline: none;
}
main .main-content #case-detail-form .row-3 #narrative:focus {
  border-color: #007BFF;
  -webkit-box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
main .main-content .form-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main .main-content .form-button-container .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
main .main-content .form-button-container .disabled:hover {
  background-color: #f5f5f5;
  color: inherit;
}
main .main-content .form-button-container .disabled:active {
  background-color: #f5f5f5;
}
main .main-content .form-button-container button {
  width: 3.5rem;
  padding: 4px 5px 4px;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main .main-content .form-button-container button:hover {
  background-color: #dcdcdc;
  color: black;
}
main .main-content .form-button-container button:active {
  background-color: #bfbfbf;
}
main .main-content .form-button-container .submit-btn {
  display: none;
}/*# sourceMappingURL=add-blotter.css.map */