/* Used in new-entry & view-entry */
/* Used in dashboard */
/* Used in new-entry */
/* Used in login & register */
/* Used main-content */
/* Used in new-entry & view-entry */
/* Used in dashboard */
/* Used in new-entry */
/* Used in login & register */
/* Used main-content */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444444;
  text-decoration: none;
}

/* Layout variables */
/* Button variables */
/* Border variables */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #f1f3fa;
  height: 3.2rem;
  padding: 0 2rem;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile {
  position: relative;
}
.profile .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #e0e0e0;
}
.profile .icon-wrapper:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}
.profile .icon-wrapper:active {
  background-color: #c0c0c0;
  color: #111;
}
.profile .icon-wrapper i {
  font-size: 18px;
}
.profile .icon-wrapper .avatar {
  width: 90%;
  border-radius: 50%;
}
.profile .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #f4f4f4;
  top: 50px;
  right: 0;
  width: 130px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile .dropdown-menu i {
  margin-right: 5px;
}
.profile .dropdown-menu .dropdown-item {
  display: block;
  padding: 10px 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profile .dropdown-menu .dropdown-item:hover {
  background-color: #cbd3ed;
  cursor: pointer;
  color: #333;
}
.profile .dropdown-menu .dropdown-item:active {
  background-color: #a6b3df;
  color: #111;
}
.profile .show {
  display: block;
}

/* Layout variables */
/* Button variables */
/* Border variables */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444444;
  text-decoration: none;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 2rem 0;
  width: 300px;
  height: 420px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
form .register-header {
  margin-bottom: 2rem;
}
form .register-header h2 {
  margin-bottom: 1rem;
}
form .register-header p {
  text-align: center;
  font-size: 0.9rem;
}
form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  row-gap: 0.7rem;
}
form .input-group input, form .input-group button,
form .input-group select {
  padding: 0.5rem;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
}
form .input-group input:focus, form .input-group button:focus,
form .input-group select:focus {
  border-color: #007BFF;
  -webkit-box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
form .input-group .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0.6rem;
     -moz-column-gap: 0.6rem;
          column-gap: 0.6rem;
}
form .input-group .password-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form .input-group .password-wrapper input, form .input-group .password-wrapper button {
  padding-right: 2.8rem;
}
form .input-group .password-wrapper .show-password {
  position: absolute;
  font-size: 0.8rem;
  right: 8px;
  color: #007bff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
form .input-group .password-wrapper .show-password:hover {
  color: #0062cc;
  cursor: pointer;
}
form .input-group .password-wrapper .show-password:active {
  color: #3395ff;
}
form .input-group button {
  margin: 0.8rem 0 0.5rem;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
form .input-group button:hover {
  background-color: #0062cc;
  cursor: pointer;
}
form .input-group button:active {
  background-color: #3395ff;
}
form .register-wrapper {
  text-align: center;
}
form .register-wrapper p {
  font-size: 0.8rem;
}
form .register-wrapper a {
  color: #007bff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
form .register-wrapper a:hover {
  color: #0062cc;
}
form .register-wrapper a:active {
  color: #3395ff;
}/*# sourceMappingURL=register.css.map */