/* Layout variables */
/* Button variables */
/* Border variables */
/* Used in new-entry & view-entry */
/* Used in dashboard */
/* Used in new-entry */
/* Used in login & register */
/* Used main-content */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444444;
  text-decoration: none;
}

/* Used in new-entry & view-entry */
/* Used in dashboard */
/* Used in new-entry */
/* Used in login & register */
/* Used main-content */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444444;
  text-decoration: none;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #f5f5f5;
  height: 3.2rem;
  padding: 0 2rem;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile {
  position: relative;
}
.profile .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #e0e0e0;
}
.profile .icon-wrapper:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}
.profile .icon-wrapper:active {
  background-color: #c0c0c0;
  color: #111;
}
.profile .icon-wrapper i {
  font-size: 18px;
}
.profile .icon-wrapper .avatar {
  width: 90%;
  border-radius: 50%;
}
.profile .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #f4f4f4;
  top: 50px;
  right: 0;
  width: 130px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile .dropdown-menu i {
  margin-right: 5px;
}
.profile .dropdown-menu .dropdown-item {
  display: block;
  padding: 10px 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profile .dropdown-menu .dropdown-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
  color: #333;
}
.profile .dropdown-menu .dropdown-item:active {
  background-color: #d0d0d0;
  color: #111;
}
.profile .show {
  display: block;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
  /* Color of the scrollbar thumb on hover */
}

main {
  padding-top: 3.2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .side-nav {
  position: fixed;
  min-height: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  z-index: 5;
}
main .side-nav .toggle-wrapper {
  text-align: end;
  padding-right: 1rem;
}
main .side-nav .toggle-wrapper .toggle-btn {
  padding: 0.9rem;
  border-radius: 8px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main .side-nav .toggle-wrapper .toggle-btn:hover {
  background-color: #dcdcdc;
  color: black;
}
main .side-nav .toggle-wrapper .toggle-btn:active {
  background-color: #bfbfbf;
}
main .side-nav .menu-link {
  text-decoration: none;
  padding: 0.8rem;
  display: block;
  white-space: nowrap;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .side-nav .menu-link i {
  margin-right: 1rem;
}
main .side-nav .menu-link:hover {
  background-color: #dcdcdc;
  color: black;
}
main .side-nav .menu-link:active {
  background-color: #bfbfbf;
}
main .side-nav .isActive {
  background-color: white;
}
main .side-nav .isActive:hover {
  background-color: white;
}
main .main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  min-width: 800px;
  margin-left: 15rem;
  -webkit-transition: margin-left 0.25s ease-in-out;
  transition: margin-left 0.25s ease-in-out;
}
main .main-content .search-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
main .main-content .search-bar-wrapper input {
  padding: 0.8rem 1.7rem;
  font-size: 1rem;
  width: 50%;
  min-width: 400px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 50px;
  outline: none;
}
main .main-content .search-bar-wrapper input:focus {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main .main-content table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  display: block;
  height: 560px;
  overflow-y: auto;
  position: relative;
}
main .main-content table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  display: table;
  width: 100%;
  table-layout: fixed;
}
main .main-content table thead tr th {
  cursor: pointer;
  border-bottom: 1px solid #C7C7C7;
}
main .main-content table thead tr th:hover {
  background-color: #f5f5f5;
}
main .main-content table thead tr th i {
  margin-left: 10px;
}
main .main-content table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-bottom: 1px solid #C7C7C7;
}
main .main-content table tbody tr:hover {
  background-color: #f5f5f5;
}
main .main-content table tbody .highlighted {
  background-color: #c2e7ff;
}
main .main-content table tbody .highlighted:hover {
  background-color: #c2e7ff;
}
main .main-content table td,
main .main-content table th {
  text-align: left;
  height: 2.3rem;
}
main .main-content table td:first-child,
main .main-content table th:first-child {
  padding-left: 1rem;
}
main .main-content table td:last-child,
main .main-content table th:last-child {
  padding-right: 1rem;
  width: 50px;
}
main .main-content table .ellipsis-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  font-size: 0.7rem;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main .main-content table .ellipsis-menu:hover {
  background-color: #dcdcdc;
}
main .main-content table .ellipsis-menu:active {
  background-color: #c3c3c3;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: absolute;
  right: 50px;
  z-index: 2;
}
.dropdown .dropdown-menu .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  padding-left: 0.7rem;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #f5f5f5;
}
.dropdown .dropdown-menu .dropdown-item:active {
  background-color: #e8e8e8;
}/*# sourceMappingURL=view-blotter.css.map */