<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="/styles/css/dashboard.css">
  </head>

  <body>
    <header>
      <h3>Blotter Management System</h3>
      <div class="profile">
        <div class="icon-wrapper"><i class="fa-solid fa-user"></i></div>
        <div class="dropdown-menu">
            <a href="/profile" class="dropdown-item">
              <i class="fa-solid fa-user"></i> 
              Profile
            </a>
            <a href="/logout" class="dropdown-item">
              <i class="fa-solid fa-sign-out-alt"></i>
              Logout
            </a>
        </div>
      </div>
    </header>

    <main>
      <nav class="side-nav" data-state="">
        <div class="toggle-wrapper"><i class="fa-solid fa-bars toggle-btn"></i></div>
        <a href="/nav/dashboard" class="menu-link isActive">
          <i class="fa-solid fa-house"></i>Dashboard
        </a>
        <a href="/nav/add-blotter" class="menu-link">
          <i class="fa-solid fa-file-circle-plus"></i>Add Blotter
        </a>
        <a href="/nav/view-blotter" class="menu-link">
          <i class="fa-solid fa-eye"></i>View Blotter
        </a>
        <a href="/nav/report" class="menu-link">
          <i class="fa-solid fa-chart-bar"></i>Report
        </a>
      </nav>
      
      <div class="main-content">
        <div class="card-container">
          <div class="card">
            <i class="fa-solid fa-calendar-day card-icon"></i>
            <div class="card-number js-new-cases">0</div>
            <div class="card-label">New Cases</div>
          </div>
          <div class="card">
            <i class="fa-solid fa-spinner card-icon"></i>
            <div class="card-number js-under-investigation">000</div>
            <div class="card-label">Under Investigation</div>
          </div>
          <div class="card">
            <i class="fa-solid fa-check-circle card-icon"></i>
            <div class="card-number js-resolved">000</div>
            <div class="card-label">Resolved Cases</div>
          </div>
          <div class="card">
            <i class="fa-solid fa-database card-icon"></i>
            <div class="card-number js-total-records">0</div>
            <div class="card-label">Total Records</div>
          </div>
        </div>

         <div class="chart-container">
          <canvas id="chart"></canvas>
         </div>
      </div>
    </main>

    <script src="/scripts/navigation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/header.js"></script> 
  </body>
</html>