<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="../public/styles/css/dashboard.css">
  </head>

  <body>
    <header>
      <h3>Blotter Management System</h3>
    </header>

    <main>
      <nav class="side-nav isOpen">
        <div class="toggle-wrapper"><i class="fa-solid fa-bars toggle-btn"></i></div>
        <a href="dashboard.html" class="menu-link"><i class="fa-solid fa-tachometer-alt"></i>Dashboard</a>
        <a href="new-entry.html" class="menu-link"><i class="fa-solid fa-plus"></i>New Entry</a>
        <a href="#" class="menu-link"><i class="fa-solid fa-eye"></i>View Entry</a>
        <a href="#" class="menu-link"><i class="fa-solid fa-chart-bar"></i>Report</a>
      </nav>
      
      <div class="main-content">
        <div class="card-container">
          <div class="card">
            <i class="fa-solid fa-chart-bar card-icon"></i>
            <div class="card-number">999</div>
            <div class="card-label">Records</div>
          </div>
          <div class="card">
            <i class="fa-solid fa-chart-bar card-icon"></i>
            <div class="card-number">999</div>
            <div class="card-label">Records</div>
          </div>
          <div class="card">
            <i class="fa-solid fa-chart-bar card-icon"></i>
            <div class="card-number">999</div>
            <div class="card-label">Records</div>
          </div>
          <div class="card">
            <i class="fa-solid fa-chart-bar card-icon"></i>
            <div class="card-number">999</div>
            <div class="card-label">Records</div>
          </div>
        </div>
      </div>
    </main>

    <script src="../public/scripts/navigation.js"></script>
  </body>
</html>