<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/styles/css/login.css">
</head>

<body>
    <header>
        <h3>Blotter Management System</h3>
    </header>

    <main>
        <div class="login-container">
            <div class="login-card-container">
                <form action="" method="POST">
                    <div class="login-header">
                        <h1>Login</h1>
                    </div>
                    
                    <div class="input-group">
                        <input placeholder="Email" type="text" name="email" id="email" required>
                        <input placeholder="Password" type="password" name="password" id="password" required>
                    </div>

                    <button class="login-btn" type="submit">Login</button>

                    <div class="register">
                        <p>Need an account?</p>
                        <a class="register-btn" href="">Register Here</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>