<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		<link 
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
			integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
			crossorigin="anonymous" referrerpolicy="no-referrer" 
		/>
		<link rel="stylesheet" href="/styles/css/login.css">
	</head>

	<body>
		<header>
			<h3>Blotter Management System</h3>
		</header>

		<main>
			<form>
				<div class="login-header">
					<h2>Login</h2>
					<p class="description">Enter your credentials to access your account.</p>
				</div>
				<div class="input-group">
					<input placeholder="Email" type="email" name="email" id="email" required>
					<div class="password-wrapper">
						<input placeholder="Password" type="password" name="password" id="password" required>
						<span class="show-password js-password-toggle">Show</span>
					</div>
					<button class="login-btn" type="submit">Login</button>
				</div>
				<div class="register-wrapper">
					<p>
						Need an account?
						<a class="register-link" href="/register">Register Here</a>
					</p>
				</div>
			</form>
		</main>

		<script src="/scripts/login.js"></script>
	</body>
</html>