<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Entry</title>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="../public/styles/css/new-entry.css">
  </head>

  <body>
    <header>
      <h3>Blotter Management System</h3>
    </header>

    <main>
      <nav class="side-nav isOpen">
        <div class="toggle-wrapper"><i class="fa-solid fa-bars toggle-btn"></i></div>
        <a href="dashboard.html" class="menu-link"><i class="fa-solid fa-tachometer-alt"></i>Dashboard</a>
        <a href="new-entry.html" class="menu-link"><i class="fa-solid fa-plus"></i>New Entry</a>
        <a href="#" class="menu-link"><i class="fa-solid fa-eye"></i>View Entry</a>
        <a href="#" class="menu-link"><i class="fa-solid fa-chart-bar"></i>Report</a>
      </nav>
      
      <div class="main-content">
        <div class="tab-container">
          <div class="complainant-tab tab js-tab">Complainant</div>
          <div class="suspect-tab tab js-tab">Suspect</div>
          <div class="case-detail-tab tab js-tab">Case Details</div>
        </div>

        <!-- Complainant form -->
        <form id="complainant-form" class="js-entry-form">
          <div class="row-1">
            <div class="col col-1">
              <label for="first-name">First name</label>
              <input type="text" name="first-name" id="first-name">
            </div>
            <div class="col col-2"> 
              <label for="middle-name">Middle name</label>
              <input type="text" name="middle-name" id="middle-name">
            </div>
            <div class="col col-3">
              <label for="last-name">Last name</label>
              <input type="text" name="last-name" id="last-name">
            </div>
            <div class="col col-4">
              <label for="nick-name">Nickname</label>
              <input type="text" name="nick-name" id="nick-name">
            </div>
            <div class="col col-5">
              <div>
                <label for="age">Age</label>
                <input type="text" name="age" id="age">
              </div>
              <div>
                <label for="gender">Gender</label>
                <input type="text" name="gender" id="gender">
              </div>
            </div>
          </div>
          
          <div class="row-2">
            <div class="col col-1">
              <label for="civil-status">Civil status</label>
              <input type="text" name="civil-status" id="civil-status">
            </div>
            <div class="col col-2"> 
              <label for="citizenship">Citizenship</label>
              <input type="text" name="citizenship" id="citizenship">
            </div>
            <div class="col col-3">
              <label for="birthplace">Birthplace</label>
              <input type="text" name="birthplace" id="birthplace">
            </div>
            <div class="col col-4">
              <label for="birthdate">Birthdate</label>
              <input type="text" name="birthdate" id="birthdate">
            </div>
            <div class="col col-5">
              <label for="occupation">Occupation</label>
              <input type="text" name="occupation" id="occupation">
            </div>
          </div>

          <div class="hr-with-title">
            <hr>
            <span class="title">Address</span>
            <hr>
          </div>

          <div class="row-3">
            <div class="col col-1">
              <label for="province">Province</label>
              <input type="text" name="province" id="province">
            </div>
            <div class="col col-2"> 
              <label for="city">City</label>
              <input type="text" name="city" id="city">
            </div>
            <div class="col col-3">
              <label for="barangay">Barangay</label>
              <input type="text" name="barangay" id="barangay">
            </div>
            <div class="col col-4">
              <label for="house-no-st-name">House No./St. Name</label>
              <input type="text" name="house-no-st-name" id="house-no-st-name">
            </div>
          </div>

          <div class="hr-with-title">
            <hr>
            <span class="title">Contact</span>
            <hr>
          </div>
          
          <div class="row-4">
            <div class="col col-1">
              <label for="mobile-no">Mobile #</label>
              <input type="text" name="mobile-no" id="mobile-no">
            </div>
            <div class="col col-2">
              <label for="tel-no">Tel #</label>
              <input type="text" name="tel-no" id="tel-no">
            </div>
            <div class="col col-3"> 
              <label for="email">Email</label>
              <input type="text" name="email" id="email">
            </div>
          </div>

          <div class="form-button-container">
            <button class="js-prev-btn">prev</button>
            <button class="js-next-btn">next</button>
          </div>
        </form>

        <!-- Suspect form -->
        <form id="suspect-form" class="js-entry-form">
          <div class="row-1">
            <div class="col col-1">
              <label for="first-name">First name</label>
              <input type="text" name="first-name" id="first-name">
            </div>
            <div class="col col-2"> 
              <label for="middle-name">Middle name</label>
              <input type="text" name="middle-name" id="middle-name">
            </div>
            <div class="col col-3">
              <label for="last-name">Last name</label>
              <input type="text" name="last-name" id="last-name">
            </div>
            <div class="col col-4">
              <label for="nick-name">Nickname</label>
              <input type="text" name="nick-name" id="nick-name">
            </div>
            <div class="col col-5">
              <div>
                <label for="age">Age</label>
                <input type="text" name="age" id="age">
              </div>
              <div>
                <label for="gender">Gender</label>
                <input type="text" name="gender" id="gender">
              </div>
            </div>
          </div>
          
          <div class="row-2">
            <div class="col col-1">
              <label for="civil-status">Civil status</label>
              <input type="text" name="civil-status" id="civil-status">
            </div>
            <div class="col col-2"> 
              <label for="citizenship">Citizenship</label>
              <input type="text" name="citizenship" id="citizenship">
            </div>
            <div class="col col-3">
              <label for="birthplace">Birthplace</label>
              <input type="text" name="birthplace" id="birthplace">
            </div>
            <div class="col col-4">
              <label for="birthdate">Birthdate</label>
              <input type="text" name="birthdate" id="birthdate">
            </div>
            <div class="col col-5">
              <label for="occupation">Occupation</label>
              <input type="text" name="occupation" id="occupation">
            </div>
          </div>

          <div class="hr-with-title">
            <hr>
            <span class="title">Address</span>
            <hr>
          </div>

          <div class="row-3">
            <div class="col col-1">
              <label for="province">Province</label>
              <input type="text" name="province" id="province">
            </div>
            <div class="col col-2"> 
              <label for="city">City</label>
              <input type="text" name="city" id="city">
            </div>
            <div class="col col-3">
              <label for="barangay">Barangay</label>
              <input type="text" name="barangay" id="barangay">
            </div>
            <div class="col col-4">
              <label for="house-no-st-name">House No./St. Name</label>
              <input type="text" name="house-no-st-name" id="house-no-st-name">
            </div>
          </div>

          <div class="hr-with-title">
            <hr>
            <span class="title">Contact</span>
            <hr>
          </div>
          
          <div class="row-4">
            <div class="col col-1">
              <label for="mobile-no">Mobile #</label>
              <input type="text" name="mobile-no" id="mobile-no">
            </div>
            <div class="col col-2">
              <label for="tel-no">Tel #</label>
              <input type="text" name="tel-no" id="tel-no">
            </div>
            <div class="col col-3"> 
              <label for="email">Email</label>
              <input type="text" name="email" id="email">
            </div>
          </div>

          <div class="form-button-container">
            <button class="js-prev-btn">prev</button>
            <button class="js-next-btn">next</button>
          </div>
        </form>

        <!-- Case detail form -->
        <form id="case-detail-form" class="js-entry-form">
          <div class="hr-with-title">
            <hr>
            <span class="title">Place of Incident</span>
            <hr>
          </div>
          
          <div class="row-1">
            <div class="col col-1">
              <label for="first-name">First name</label>
              <input type="text" name="first-name" id="first-name">
            </div>
            <div class="col col-2"> 
              <label for="middle-name">Middle name</label>
              <input type="text" name="middle-name" id="middle-name">
            </div>
          </div>

          <div class="hr-with-title">
            <hr>
            <span class="title">Date and Time</span>
            <hr>
          </div>
          
          <div class="row-2">
            <div class="col col-1">
              <label for="civil-status">Civil status</label>
              <input type="text" name="civil-status" id="civil-status">
            </div>
            <div class="col col-2"> 
              <label for="citizenship">Citizenship</label>
              <input type="text" name="citizenship" id="citizenship">
            </div>
          </div>

          <div class="hr-with-title">
            <hr>
            <span class="title">Detail</span>
            <hr>
          </div>

          <div class="row-3">
            <div class="col col-1">
              <label for="narrative">Narrative</label>
              <textarea name="narrative" id="narrative"></textarea>
            </div>
          </div>

          <div class="form-button-container">
            <button class="js-prev-btn">prev</button>
            <button class="js-next-btn">next</button>
          </div>
        </form>
      </div>
    </main>

    <script src="../public/scripts/navigation.js"></script>
    <script src="../public/scripts/new-entry.js"></script>
  </body>
</html>