<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Entry</title>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="/styles/css/new-entry.css">
  </head>

  <body>
    <header>
      <h3>Blotter Management System</h3>
    </header>

    <main>
      <nav class="side-nav isOpen">
        <div class="toggle-wrapper"><i class="fa-solid fa-bars toggle-btn"></i></div>
        <a href="/nav/dashboard" class="menu-link"><i class="fa-solid fa-house"></i>Dashboard</a>
        <a href="/nav/new-entry" class="menu-link"><i class="fa-solid fa-plus"></i>New Entry</a>
        <a href="/nav/view-entry" class="menu-link"><i class="fa-solid fa-eye"></i>View Entry</a>
        <a href="/nav/report" class="menu-link"><i class="fa-solid fa-chart-bar"></i>Report</a>
      </nav>
      
      <div class="main-content">
        <div class="tab-container">
          <div class="complainant-tab tab js-tab">Complainant</div>
          <div class="suspect-tab tab js-tab">Suspect</div>
          <div class="case-detail-tab tab js-tab">Case Details</div>
          <div class="alert-warning">Please complete all required (*) fields.</div>
        </div>

        <form>
          <!-- Complainant form -->
          <fieldset id="complainant-form" class="js-form-step">
            <div class="row-1">
              <div class="col col-1">
                <label for="complainant-firstname">First name *</label>
                <input type="text" name="comFirstname" id="complainant-firstname" required>
              </div>
              <div class="col col-2">
                <label for="complainant-middlename">Middle name</label>
                <input type="text" name="comMiddlename" id="complainant-middlename">
              </div>
              <div class="col col-3">
                <label for="complainant-lastname">Last name *</label>
                <input type="text" name="comLastname" id="complainant-lastname" required>
              </div>
              <div class="col col-4">
                <label for="complainant-nickname">Nickname</label>
                <input type="text" name="comNickname" id="complainant-nickname">
              </div>
              <div class="col col-5">
                <div class="input-wrapper">
                  <label for="complainant-age">Age *</label>
                  <input type="text" name="comAge" id="complainant-age" required>
                </div>
                <div class="input-wrapper">
                  <label for="complainant-gender">Gender *</label>
                  <select name="comGender" id="complainant-gender" required>
                    <option value="">Select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row-2">
              <div class="col col-1">
                <label for="complainant-civil-status">Civil status *</label>
                <select name="comCivilStatus" id="complainant-civil-status" required>
                  <option value="">Select</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Divorced">Divorced</option>
                  <option value="Widowed">Widowed</option>
                </select>
              </div>
              <div class="col col-2">
                <label for="complainant-citizenship">Citizenship *</label>
                <input type="text" name="comCitizenship" id="complainant-citizenship" required>
              </div>
              <div class="col col-3">
                <label for="complainant-birthplace">Birthplace *</label>
                <input type="text" name="comBirthplace" id="complainant-birthplace" required>
              </div>
              <div class="col col-4">
                <label for="complainant-birthdate">Birthdate *</label>
                <input type="date" name="comBirthdate" id="complainant-birthdate" required>
              </div>
              <div class="col col-5">
                <label for="complainant-occupation">Occupation</label>
                <input type="text" name="comOccupation" id="complainant-occupation">
              </div>
            </div>

            <div class="hr-with-title">
              <hr>
              <span class="title">Address</span>
              <hr>
            </div>

            <div class="row-3">
              <div class="col col-1">
                <label for="complainant-province">Province *</label>
                <input type="text" name="comProvince" id="complainant-province" required>
              </div>
              <div class="col col-2">
                <label for="complainant-city">City *</label>
                <input type="text" name="comCity" id="complainant-city" required>
              </div>
              <div class="col col-3">
                <label for="complainant-barangay">Barangay *</label>
                <input type="text" name="comBarangay" id="complainant-barangay" required>
              </div>
              <div class="col col-4">
                <label for="complainant-houseno-street">House No./St. Name</label>
                <input type="text" name="comHouseNoStreet" id="complainant-houseno-street">
              </div>
            </div>

            <div class="hr-with-title">
              <hr>
              <span class="title">Contact</span>
              <hr>
            </div>
            
            <div class="row-4">
              <div class="col col-1">
                <label for="complainant-mobile-no">Mobile # *</label>
                <input type="tel" name="comMobileNo" id="complainant-mobile-no" required>
              </div>
              <div class="col col-2">
                <label for="complainant-tel-no">Tel #</label>
                <input type="tel" name="comTelNo" id="complainant-tel-no">
              </div>
              <div class="col col-3">
                <label for="complainant-email">Email</label>
                <input type="email" name="comEmail" id="complainant-email">
              </div>
            </div>
          </fieldset>

          <!-- Suspect form -->
          <fieldset id="suspect-form" class="js-form-step">
            <div class="row-1">
              <div class="col col-1">
                <label for="suspect-firstname">First name *</label>
                <input type="text" name="susFirstname" id="suspect-firstname" required>
              </div>
              <div class="col col-2">
                <label for="suspect-middle-name">Middle name</label>
                <input type="text" name="susMiddlename" id="suspect-middlename">
              </div>
              <div class="col col-3">
                <label for="suspect-lastname">Last name *</label>
                <input type="text" name="susLastname" id="suspect-lastname" required>
              </div>
              <div class="col col-4">
                <label for="suspect-nickname">Nickname</label>
                <input type="text" name="susNickname" id="suspect-nickname">
              </div>
              <div class="col col-5">
                <div class="input-wrapper">
                  <label for="suspect-age">Age *</label>
                  <input type="text" name="susAge" id="suspect-age" required>
                </div>
                <div class="input-wrapper">
                  <label for="suspect-gender">Gender *</label>
                  <select name="susGender" id="suspect-gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row-2">
              <div class="col col-1">
                <label for="suspect-civil-status">Civil status *</label>
                <select name="comCivilStatus" id="complainant-civil-status" required>
                  <option value="">Select</option>
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="divorced">Divorced</option>
                  <option value="widowed">Widowed</option>
                </select>
              </div>
              <div class="col col-2">
                <label for="suspect-citizenship">Citizenship *</label>
                <input type="text" name="susCitizenship" id="suspect-citizenship" required>
              </div>
              <div class="col col-3">
                <label for="suspect-birthplace">Birthplace *</label>
                <input type="text" name="susBirthplace" id="suspect-birthplace" required>
              </div>
              <div class="col col-4">
                <label for="suspect-birthdate">Birthdate *</label>
                <input type="date" name="susBirthplace" id="suspect-birthdate" required>
              </div>
              <div class="col col-5">
                <label for="suspect-occupation">Occupation</label>
                <input type="text" name="susOccupation" id="suspect-occupation">
              </div>
            </div>

            <div class="hr-with-title">
              <hr>
              <span class="title">Address</span>
              <hr>
            </div>

            <div class="row-3">
              <div class="col col-1">
                <label for="suspect-province">Province *</label>
                <input type="text" name="susProvince" id="suspect-province" required>
              </div>
              <div class="col col-2">
                <label for="suspect-city">City *</label>
                <input type="text" name="susCity" id="suspect-city" required>
              </div>
              <div class="col col-3">
                <label for="suspect-barangay">Barangay *</label>
                <input type="text" name="susBarangay" id="suspect-barangay" required>
              </div>
              <div class="col col-4">
                <label for="suspect-houseno-street">House No./St. Name</label>
                <input type="text" name="susHouseNoStreet" id="suspect-houseno-street">
              </div>
            </div>

            <div class="hr-with-title">
              <hr>
              <span class="title">Contact</span>
              <hr>
            </div>
            
            <div class="row-4">
              <div class="col col-1">
                <label for="suspect-mobile-no">Mobile # *</label>
                <input type="tel" name="susMobileNo" id="suspect-mobile-no" required>
              </div>
              <div class="col col-2">
                <label for="suspect-tel-no">Tel #</label>
                <input type="tel" name="susTelNo" id="suspect-tel-no">
              </div>
              <div class="col col-3">
                <label for="suspect-email">Email</label>
                <input type="email" name="susEmail" id="suspect-email">
              </div>
            </div>
          </fieldset>

          <!-- Case detail form -->
          <fieldset id="case-detail-form" class="js-form-step">
            <div class="hr-with-title">
              <hr>
              <span class="title">Place of Incident</span>
              <hr>
            </div>
            
            <div class="row-1">
              <div class="col col-1">
                <label for="street">St. Name</label>
                <input type="text" name="street" id="street">
              </div>

              <div class="col col-2">
                <label for="barangay">Barangay *</label>
                <input type="text" name="barangay" id="barangay" required>
              </div>
            </div>

            <div class="hr-with-title">
              <hr>
              <span class="title">Date and Time</span>
              <hr>
            </div>
            
            <div class="row-2">
              <div class="col col-1">
                <label for="date-time-reported">Date/Time Reported *</label>
                <input type="datetime-local" name="dateTimeReported" id="date-time-reported" required>
              </div>
              <div class="col col-2">
                <label for="date-time-incident">Date/Time of Incident *</label>
                <input type="datetime-local" name="dateTimeIncident" id="date-time-incident" required>
              </div>
            </div>
            <div class="hr-with-title">
              <hr>
              <span class="title">Detail</span>
              <hr>
            </div>
            <div class="row-3">
              <div class="col col-1">
                <label for="narrative">Narrative *</label>
                <textarea name="narrative" id="narrative" required></textarea>
              </div>
            </div>
          </fieldset>

          <div class="form-button-container">
            <button type="button" class="js-prev-btn">prev</button>
            <button type="button" class="js-next-btn">next</button>
            <button type="submit" class="js-submit-btn submit-btn">submit</button>
          </div>
        </form>
      </div>
    </main>

    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/new-entry.js"></script>
  </body>
</html>