<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="/styles/css/profile.css">
  </head>

  <body>
    <header>
      <a href="/nav/dashboard" class="left-section">
        <img src="/images/logo.png" alt="">
        <h3>Malolos City Police Station E-Blotter</h3>
      </a>
      <div class="profile">
        <div class="icon-wrapper"><i class="fa-solid fa-user"></i></div>
        <div class="dropdown-menu">
            <a href="/profile" class="dropdown-item">
              <i class="fa-solid fa-user"></i> 
              Profile
            </a>
            <a href="/logout" class="dropdown-item">
              <i class="fa-solid fa-sign-out-alt"></i>
              Logout
            </a>
        </div>
      </div>
    </header>

    <main>
      <nav class="side-nav isOpen">
        <div class="toggle-wrapper"><i class="fa-solid fa-bars toggle-btn"></i></div>
        <a href="/nav/dashboard" class="menu-link">
          <i class="fa-solid fa-house"></i>Dashboard
        </a>
        <a href="/nav/add-blotter" class="menu-link">
          <i class="fa-solid fa-file-circle-plus"></i>Add Blotter
        </a>
        <a href="/nav/view-blotter" class="menu-link">
          <i class="fa-solid fa-eye"></i>View Blotter
        </a>
        <a href="/nav/report" class="menu-link">
          <i class="fa-solid fa-chart-bar"></i>Report
        </a>
      </nav>
      
      <div class="main-content">
        <div class="alert-success">
          <i class="fa-solid fa-circle-check"></i>
          Account successfully updated.
        </div>

        <form class="personal-info-form">
          <div id="col-1">
            <h3>Personal Information</h3>
            <p>Update your personal details here.</p>
          </div>
          
          <div id="col-2">
            <div class="avatar-container">
              <img src="" class="avatar-preview">
            </div>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg, image/jpg">
            <label for="avatar">Upload Image</label>
          </div>

          <div id="col-3">
            <div class="row-1">
              <div>
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" required>
              </div>
              <div>
                <label for="middlename">Middle Name</label>
                <input type="text" id="middlename" name="middlename">
              </div>
              <div>
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" required>
              </div>
            </div>
            <div class="row-2">
              <div class="input-wrapper">
                <label for="gender">Gender *</label>
                <select name="gender" id="gender">
                  <option value="" selected>Select</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="col">
                <label for="gender">Birthdate</label>
                <input type="date" id="birthdate" name="birthdate">
              </div>
            </div>
            <div class="row-3">
              <div class="col">
                <label for="civilStatus">Civil status *</label>
                <select name="civilStatus" id="civilStatus">
                  <option value="" selected>Select</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Divorced">Divorced</option>
                  <option value="Widowed">Widowed</option>
                </select>
              </div>
              <div class="col">
                <label for="rank">Rank</label>
                <input type="text" id="rank" name="rank" disabled>
              </div>
            </div>
            <div class="row-4">
              <div class="col">
                <label for="address">Complete Address (House #/Street/Barangay/City/Province)</label>
                <input type="text" id="address" name="address">
              </div>
            </div>
            <div class="row-5">
              <div class="col">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" disabled>
              </div>
              <div class="col">
                <label for="contact">Contact #</label>
                <input type="tel" id="contact" name="contact">
              </div>
            </div>
            <div class="row-6">
              <button type="submit">Update</button>
            </div>
          </div>
        </form>

        <form class="change-password-form">
          <div id="col-1">
            <h3>Change Password</h3>
            <p>Update your password associated <br> with your account.</p>
          </div>
          <div id="col-2">
            <div class="row-1">
              <label for="current-password">Current Password</label>
              <div class="password-wrapper">
                <input  type="password" name="current-password" id="current-password" required>
                <span class="show-password js-password-toggle">Show</span>
              </div>
            </div>
            <div class="row-2">
              <label for="new-password">New Password</label>
              <div class="password-wrapper">
                <input type="password" name="new-password" id="new-password" required>
                <span class="show-password js-password-toggle">Show</span>
              </div>
            </div>
            <div class="row-3">
              <label for="confirm-password">Confirm Password</label>
              <div class="password-wrapper">
                <input type="password" name="confirm-password" id="confirm-password" required>
                <span class="show-password js-password-toggle">Show</span>
              </div>
            </div>
            <div class="row-4">
              <button type="submit">Change Password</button>
              <button type="reset">Discard</button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <script src="/scripts/navigation.js"></script>
    <script type="module" src="/scripts/profile.js"></script>
    <script type="module" src="/scripts/change-password.js"></script>
    <script src="/scripts/header.js"></script>
  </body>
</html>