<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link 
      rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles/css/register.css">
  </head>

  <body>
    <header>
        <h3>Blotter Management System</h3>
    </header>

    <main>
      <form>
				<div class="register-header">
					<h2>Register</h2>
          <p>Please fill in this form to create an account.</p>
				</div>
				<div class="input-group">
          <select name="rank" id="rank">
            <option value="">Choose Rank...</option>
            <option value="Patrolman/woman">Patrolman/woman</option>
            <option value="Corporal">Corporal</option>
            <option value="Sergeant">Sergeant</option>
            <option value="Lieutenant">Lieutenant</option>
            <option value="Captain">Captain</option>
            <option value="Major">Major</option>
            <option value="Colonel">Colonel</option>
            <option value="General">General</option>
          </select>
					<div class="row-2">
            <input placeholder="Firstname" type="text" name="firstname" id="firstname" required>
            <input placeholder="Lastname" type="text" name="lastname" id="lastname" required>
          </div>
					<input placeholder="Email" type="email" name="email" id="email" required>
					<div class="password-wrapper">
						<input placeholder="Password" type="password" name="password" id="password" required>
						<span class="show-password js-password-toggle">Show</span>
					</div>
					<button class="register-btn" type="submit">Register</button>
				</div>
				<div class="register-wrapper">
					<p>
						Already have an account?
						<a class="login-link" href="/login">Login Here</a>
					</p>
				</div>
			</form>
    </main>

    <script type="module" src="/scripts/register.js"></script>
  </body>
</html>