<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blotter</title>
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="/styles/css/view-blotter.css">
  </head>

  <body>
    <header>
      <h3><a href="/nav/dashboard">Blotter Management System</a></h3>
      <div class="profile">
        <div class="icon-wrapper"><i class="fa-solid fa-user"></i></div>
        <div class="dropdown-menu">
            <a href="/profile" class="dropdown-item">
              <i class="fa-solid fa-user"></i> 
              Profile
            </a>
            <a href="/logout" class="dropdown-item">
              <i class="fa-solid fa-sign-out-alt"></i>
              Logout
            </a>
        </div>
      </div>
    </header>

    <main>
      <nav class="side-nav" data-state="">
        <div class="toggle-wrapper"><i class="fa-solid fa-bars toggle-btn"></i></div>
        <a href="/nav/dashboard" class="menu-link"><i class="fa-solid fa-house"></i>Dashboard</a>
        <a href="/nav/add-blotter" class="menu-link"><i class="fa-solid fa-file-circle-plus"></i>Add Blotter</a>
        <a href="/nav/view-blotter" class="menu-link isActive"><i class="fa-solid fa-eye"></i>View Blotter</a>
        <a href="/nav/report" class="menu-link"><i class="fa-solid fa-chart-bar"></i>Report</a>
      </nav>

      <div class="main-content" >
        <div class="search-bar-wrapper">
          <input type="search" placeholder="Search Record">
        </div>

        <table>
          <thead>
            <tr>
              <th data-order="" data-column="b.blotter_id">
                Blotter Number
                <i class="fa-solid fa-arrow-down"></i>
              </th>
              <th data-order="" data-column="b.date_time_reported">
                Date & Time Reported
                <i class="fa-solid"></i>
              </th>
              <th data-order="" data-column="complainant_fullname">
                Complainant
                <i class="fa-solid"></i>
              </th>
              <th data-order="" data-column="suspect_fullname">
                Suspect
                <i class="fa-solid"></i>
              </th>
              <th></th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>
      </div>
    </main>

    <script src="/scripts/navigation.js"></script>
    <script type="module" src="/scripts/view-blotter.js"></script>
    <script src="/scripts/header.js"></script>
  </body>
</html>