/* Used in new-entry & view-entry */

@mixin flex-center($direction: row) {
  display: flex;
  flex-flow: $direction nowrap;
  justify-content: center;
  align-items: center;
}

/* Used in dashboard */

@mixin flex-card($justify, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-flow: $direction wrap;
}

/* Used in new-entry */

@mixin focus-styles {
  border-color: #007BFF;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

/* Used in login & register */

@mixin input {
  padding: 0.5rem;
  border-radius: 5px;
  border: solid $grey 1px;
  width: 100%;
  background-color: $primary-color;
  margin: 10px 0;
}

/* Used main-content */

@mixin transition-margin() {
  margin-left: 15rem;
  transition: margin-left 0.25s ease-in-out;
}