@import 'variables';

.side-nav {
  position: fixed;
  min-height: 100%;
  background-color: $primary-color;
  overflow: hidden;
  transition: 0.25s ease-in-out;
  z-index: 5;

  .toggle-wrapper {
    text-align: end;
    padding-right: 1rem;

    .toggle-btn {
      padding: 0.9rem;
      border-radius: 8px;
      transition: 0.25s;

      &:hover {
        background-color: $btn-color-hover;
        color: black;
      }

      &:active {
        background-color: $btn-color-active;
      }
    }
  }

  .menu-link {
    text-decoration: none;
    padding: 0.8rem;
    display: block;
    white-space: nowrap;
    transition: 0.25s;
    user-select: none;

    i {
      margin-right: 1rem;
    }

    &:hover {
      background-color: $btn-color-hover;
      color: black;
    }

    &:active {
      background-color: $btn-color-active
    }
  }

  .isActive {
    background-color: white;

    &:hover {
      background-color: white;
    }
  }

}