/* Layout variables */

$primary-color: #f1f3fa;
$grey: #808080;
$blue: #007bff;

/* Button variables */
$btn-color-hover: darken($primary-color, 10%);
$btn-color-active: darken($primary-color, 20%);

/* Border variables */
$border-color: #d9d9d9;
$input-field-border-radius: 5px;
$table-border-color: #C7C7C7;