@import 'mixins';
@import 'variables';
@import 'reset';
@import 'header';

// form base class 

.base-fieldset {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  border: 1px solid $border-color;
  padding: 1rem;
  width: 100%;
  background-color: $primary-color;

  .hr-with-title {
    @include flex-center;

    .title {
      margin: 0 5px 0;
      font-style: italic;
    }

    hr {
      color: $border-color;
      flex: 1;
      border: none;
      border-top: 1px solid $border-color;
    }
  }

  legend {
    padding: 0 5px 0;
  }
}

// row base class

.base-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: 20px;

  .col,
  .input-wrapper {
    flex: 1;
  }

  label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 3px;
  }

  input,
  select {
    padding: 0.3rem;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: $input-field-border-radius;
    outline: none;
    width: 100%;

    &:focus {
      @include focus-styles;
    }
  }
}

main {
  padding-top: 3.2rem;
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;

  @import 'navigation';

  .main-content {
    flex: 1;
    padding: 1.5rem 2rem;
    @include transition-margin;

    .alert-success {
      position: fixed;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);

      display: none;
      margin-left: 1rem;
      background-color: #cfe2ff;
      padding: 0.6rem 1rem 0.6rem;
      border: 1px solid #9ec5fe;
      border-radius: $input-field-border-radius;
      color: #052c65;
      flex: 1;

      i {
        color: inherit;
      }
    }

    form {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 2rem;
      min-width: 900px;

      @include remove-placeholder-text;
    }

    #complainant-form {
      @extend .base-fieldset;

      .row-1,
      .row-2,
      .row-3,
      .row-4 {
        @extend .base-row;
      }

      .row-1 {
        .col-5 {
          @extend .base-row;
        }
      }

      .row-3 {
        width: 80%;

      }

      .row-4 {
        width: 60%;
      }
    }

    #suspect-form {
      @extend #complainant-form;
    }

    #case-detail-form {
      @extend .base-fieldset;

      .row-1,
      .row-2,
      .row-3 {
        @extend .base-row;
      }

      .row-1,
      .row-2 {
        width: 60%;
      }

      .row-3 {
        #narrative {
          padding: 0.3rem;
          font-size: 1rem;
          border: 1px solid $border-color;
          border-radius: $input-field-border-radius;
          height: 200px;
          width: 100%;
          resize: horizontal;
          outline: none;

          &:focus {
            @include focus-styles;
          }
        }

        .col-2 {
          display: flex;
          flex-direction: column;
          row-gap: 15px;

          .row-1,
          .row-2 {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .form-button-container {
      display: flex;
      column-gap: 15px;
      justify-content: flex-end;

      button {
        width: 4rem;
        height: 2rem;
        padding: 4px 5px 4px;
        background-color: $primary-color;
        border: 1px solid $border-color;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          background-color: $btn-color-hover;
          color: black;
        }

        &:active {
          background-color: $btn-color-active
        }
      }

    }
  }
}