@import 'variables';
@import 'reset';
@import 'header';


main {
  position: fixed;
  top: 3.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  @import 'navigation';

  .main-content {
    flex: 1;
  }
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  row-gap: 20px;
  padding: 2rem 0 2rem;

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.5rem 1.5rem;
    width: 200px;
    height: 150px;
    background-color: $primary-color;
    border-radius: 8px;

    .card-icon {
      font-size: 1.5rem;
      align-self: flex-start;
    }

    .card-number {
      font-size: 2rem;
    }

    .card-label {
      color: $grey;
    }
  }
}