@import 'mixins';
@import 'variables';
@import 'reset';
@import 'header';

main {
  padding-top: 3.2rem;
  min-height: 100vh;
  display: flex;

  @import 'navigation';

  .main-content {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    @include transition-margin;
  }
}

.card-container {
  @include flex-card(space-evenly);
  row-gap: 20px;
  padding: 2rem 0 2rem;
  flex: 1;

  .card {
    @include flex-card(space-between, column);
    padding: 1.2rem 1.5rem 1.5rem;
    width: 200px;
    height: 150px;
    background-color: $primary-color;
    border-radius: 8px;

    .card-icon {
      font-size: 1.5rem;
      align-self: flex-start;
    }

    .card-number {
      font-size: 2rem;
    }

    .card-label {
      color: $grey;
    }
  }
}

.chart-container {
  flex: 3;
  display: flex;
  flex-flow: row nowrap;
  width: 65%;
  min-width: 450px;
  margin: auto;
}