@import 'mixins';
@import 'header';
@import 'variables';
@import 'reset';

main {
	height: 100vh;
	@include flex-center;
}

form {
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem 0;
	width: 300px;
	height: 420px;
	box-shadow: 0 0 6px rgba(black, 0.25);
	border-radius: $input-field-border-radius;

	.register-header {
		margin-bottom: 2rem;

		h2 {
			margin-bottom: 1rem;
		}

		p {
			text-align: center;
			font-size: 0.9rem;
		}
	}

	.input-group {
		display: flex;
		flex-direction: column;
		width: 100%;
		row-gap: 0.7rem;

		input,
		select {
			padding: 0.5rem;
			outline: none;
			border: 1px solid $border-color;
			border-radius: $input-field-border-radius;
			width: 100%;

			&:focus {
				@include focus-styles;
			}
		}

		.row-2 {
			display: flex;
			flex-direction: row;
			column-gap: 0.6rem;
		}

		.password-wrapper {
			position: relative;
			display: flex;
			align-items: center;

			input {
				padding-right: 2.8rem;
			}

			.show-password {
				position: absolute;
				font-size: 0.8rem;
				right: 8px;
				color: $blue;
				transition: 0.25s;
				user-select: none;

				&:hover {
					color: darken($blue, 10%);
					cursor: pointer;
				}

				&:active {
					color: lighten($blue, 10%);
				}
			}
		}

		button {
			@extend input;
			margin: 0.8rem 0 0.5rem;
			background-color: $blue;
			color: white;
			font-weight: bold;
			transition: 0.25s;

			&:hover {
				background-color: darken($blue, 10%);
				cursor: pointer;
			}

			&:active {
				background-color: lighten($blue, 10%);
			}
		}
	}

	.register-wrapper {
		text-align: center;

		p {
			font-size: 0.8rem;
		}

		a {
			color: $blue;
			transition: 0.25s;

			&:hover {
				color: darken($blue, 10%);
			}

			&:active {
				color: lighten($blue, 10%);
			}
		}
	}
}