@import 'header';
@import 'variables';
@import 'reset';
@import 'mixins';

.register-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $primary-color;

	.register-card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 700px;
		height: 450px;
		border-radius: 8px;
		box-shadow: 0 4px 8px $grey;
		padding: 2rem;
		position: relative;

		.input-section {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.left-section,
			.right-section {
				display: block;
				align-items: center;
				width: 100%;
				margin: 10px 10px;

				input,
				#dropdown {
						@include input;
				}
			}
		}

		.bottom-section {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: 100%;
			margin: 10px 0;

			.reg-btn-container {
				display: flex;
				justify-content: center;
				align-items: center;

				.register-btn {
					color: white;
					background-color: $blue;
					padding: 8px 0;
					border: none;
					width: 40%;
					margin: 10px 0;
				}
			}

			.register {
				display: flex;
				justify-content: space-evenly;

				a {
					color: $blue;
				}
			}
		}

		.register-header {
			position: absolute;
			top: 15px;
		}
	}
}